{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ title }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/fix.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/Custom.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/custom.js" %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="icon" href="{% static "iconmaybe4.png" %}">

<title>OhGoshReally</title>

<style>
	.parallax {
		background-image: url("{% static "DrM10.jpg" %}");
		height: 300px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}

	body {
		margin:0;
		padding:0;
	}

	.affix {
		top: 0;
		width: 100%;
	}

	.affix + .container-fluid {
		padding-top: 70px;
	}

</style>

<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>

{% block head %}
{% endblock %}

</head>
<body>

<div class="parallax"></div>

	<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="300">
		<div class="container-fluid">


			<!-- LOGO //-->
			<div class="navbar-header">

				<!-- <a href="#" class="navbar-brand">OHGOSHREALLY</a> /-->
			</div>

			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'index' %}">Admin</a></li>
					<li><a href="{% url 'status' %}">Stats</a></li>
					<li><a href="{% url 'logs' %}">Logs</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>
		</div>
	</nav>

{% block content %}
<h1>Chewie, we're lost.</h1>
{% endblock %}

</body>
</html>
