{% extends "admininterface/base.html" %}
{% block content %}

<Content>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p>This is the administrative UI for my home network. It is currently just in its testing-phase.</p>

<p>For online documentation and support please refer to.<br/>
Commercial support is available at</p></div>
  <div class="col-md-3"></div>
</div>

<b>

</div>


<div class="row">

<div class="col-md-5"></div>

<div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b id="logzhead">Systems</b></div>
                        <div class="panel-body">


                            <table class="table table-striped">

								    <tbody>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">arrow_downward</i></font></td>
								        <td><b><a id="textz" href="/sabnzbd">SABNZBD</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">input</i></font></td>
								        <td><b><a id="textz" href="/htpc">HTPC Manager</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">ondemand_video</i></td>
								        <td><b><a id="textz" href="/sonarr">Sonarr</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">accessibility</i></td>
								        <td><b><a id="textz" href="/jackett">Jackett</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">queue_play_next</i></td>
								        <td><b><a id="textz" href="/plex">Plex</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">home</i></td>
								        <td><b><a id="textz" href="/home">Home-Assistant</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">dns</i></td>
								        <td><b><a id="textz" href="/pihole">Pi-Hole</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">weekend</i></td>
								        <td><b><a id="textz" href="/couchpotato">CouchPotato</a></b></td>
								      </tr>
								      <tr>

								        <td><i id="iconz" class="material-icons" style="font-size:24px;">cloud_download</i></td>
								        <td><b><a id="textz" href="/utorrent">Utorrent</a></b></td>
								      </tr>
								      <tr>

								    </tbody>



								  </table>



                        </div>
                    </div>
                </div>

                <div class="col-md-5"></div>

            </div>

</content>

<script>

$(function() {
  getLinks();
});

</script>
{% endblock %}
