{% extends "admininterface/base.html" %}
{% block content %}


	<!--

	<div class="container">
		<h1>My First Bootstrap Page</h1>
		<p>This is some text.</p>

		<div class="row">
			<div class="col-sm-4" style="background-color: #FF9999">Left</div>
			<div class="col-sm-4" style="background-color: #99CCFF">Middle</div>
			<div class="col-sm-4" style="background-color: #00CC99">Right</div>
		</div>
	</div>

	<div class="container">
		<!-- <div class="row">
			<div class="col-sm-1" style="background-color: #FF9999">1</div>
			<div class="col-sm-1" style="background-color: #FF9999">2</div>
			<div class="col-sm-1" style="background-color: #FF9999">3</div>
			<div class="col-sm-1" style="background-color: #FF9999">4</div>
			<div class="col-sm-8" style="background-color: #99CCFF">5</div>
		</div>

	</div> //-->

	<h2>OhGosh<font color="#d33682">Really</font></h2>

<!-- <h1>OhGoshReally</h1> //-->

<Content>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p>This is the administrative UI for my home network. It is currently just in its testing-phase.</p>

<p>For online documentation and support please refer to.<br/>
Commercial support is available at</p></div>
  <div class="col-md-3"></div>
</div>

<!-- LINKS //-->

<b>

<div class="row">

  <div class="col-md-5"></div>
  <div id="links" class="col-md-2">

<p>

	<i id="iconz" class="material-icons" style="font-size:24px;">arrow_downward</i>
	<a id="textz" href="/sabnzbd">SABNZBD</a>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">input</i>
	<a id="textz" href="/htpc">HTPC Manager</a><br/>

	</p>

<p>

	<i id="iconz" class="material-icons" style="font-size:24px;">ondemand_video</i>
	<a id="textz" href="/sonarr">Sonarr</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">accessibility</i>
	<a id="textz" href="/jackett">Jackett</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">queue_play_next</i>
	<a id="textz" href="/plex">Plex</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">home</i>
	<a id="textz" href="/home">Home-Assistant</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">dns</i>
	<a id="textz" href="/pihole">Pi-Hole</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">weekend</i>
	<a id="textz" href="/couchpotato">CouchPotato</a><br/>

	</p>

<p>
	<i id="iconz" class="material-icons" style="font-size:24px;">cloud_download</i>
	<a id="textz" href="/utorrent">uTorrent</a><br/>

	</p>

	</div>
  <div class="col-md-5"></div>
</div>

</div>

<div id="separator" class="container">
		<!-- <h3><p>My First Bootstrap Page</p></h3>
		<p>This is some text.</p> //-->

		<div class="row">
			<!-- <div class="col-sm-4" style="background-color: #FF9999"></div>
			<div class="col-sm-4" style="background-color: #99CCFF"></div>
			<div class="col-sm-4" style="background-color: #00CC99"></div> //-->

			<div class="col-sm-4" style="background-color: #dc322f"></div>
			<div class="col-sm-4" style="background-color: #268bd2"></div>
			<div class="col-sm-4" style="background-color: #859900"></div>

		</div>
	</div>

</b>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p><b>The standard Lorem Ipsum passage, used since the 1500s</b></br></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p><b>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</b></br></p>

<p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p></div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p><b>1914 translation by H. Rackham</b></br></p>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p></div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p><b>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</b></br></p>

<p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p></div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6"><p><b>The standard Lorem Ipsum passage, used since the 1500s</b></br></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  <div class="col-md-3"></div>
</div>

</content>

<script>

$(function() {
  getLinks();
});

</script>
{% endblock %}
