{% extends "admininterface/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}

<Content>

	{% if status %}

	{{ status }}

	{% endif %}


	<b>


	</div>




	<div class="row">

	<div class="col-md-5"></div>

	<div class="col-md-2">
	                    <div class="panel panel-default">
	                        <div class="panel-heading"><b id="logzhead">Login</b></div>
	                        <div class="panel-body">


														<form data-toggle="validator" role="form">



	<div style="margin-bottom: 25px" class="input-group">
	                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
	                                    </div>

	<div class="form-group">

		<div style="margin-bottom: 25px" class="input-group">
	                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
	                                    </div>
	</div>

	<!--
	<div class="alert alert-danger">
	  <strong>Login failed!</strong>
	</div> !-->

	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="terms" data-error="Before you wreck yourself">
				Remember me
			</label>
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	</form>



	                        </div>
	                    </div>
	                </div>

	                <div class="col-md-5"></div>

	            </div>

	</b>

</content>



{% endblock %}
