{% extends "admininterface/base.html" %}
{% block content %}

	<!--

	<div class="container">
		<h1>My First Bootstrap Page</h1>
		<p>This is some text.</p>
	
		<div class="row">
			<div class="col-sm-4" style="background-color: #FF9999">Left</div>
			<div class="col-sm-4" style="background-color: #99CCFF">Middle</div>
			<div class="col-sm-4" style="background-color: #00CC99">Right</div>
		</div>
	</div>
	
	<div class="container">
		<!-- <div class="row">
			<div class="col-sm-1" style="background-color: #FF9999">1</div>
			<div class="col-sm-1" style="background-color: #FF9999">2</div>
			<div class="col-sm-1" style="background-color: #FF9999">3</div>
			<div class="col-sm-1" style="background-color: #FF9999">4</div>
			<div class="col-sm-8" style="background-color: #99CCFF">5</div>
		</div>
		
	</div> //-->
	
	<h2>OhGosh<font color="#d33682">Really</font></h2>

<!-- <h1>OhGoshReally</h1> //-->

<Content>

<div class="container">
	<div class="row">
		<div class="wrapper">
    	    <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        <a id="RUBRIK"><b>LOGS</b></a> <a href="#" class="push_menu"><i id="iconz" class="material-icons pull-right" style="font-size:18px;">reorder</i></a>
                    </li>
                    <div class="menu">
                        <li>
                            <a id="teckts" href="#"><b>All</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">dashboard</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#" class="active"><b>SABNZBD</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">arrow_downward</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>HTPC Manager</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">input</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>Sonarr</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">ondemand_video</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>Jackett</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">accessibility</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>Plex</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">queue_play_next</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>Home-Assistant</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">home</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>Pi-Hole</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">dns</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>CouchPotato</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">weekend</i></a>
                        </li>
                        <li>
                            <a id="teckts" href="#"><b>uTorrent</b><i id="iconz" class="material-icons pull-right" style="font-size:18px;">cloud_download</i></a>
                        </li>
                    </div>
                    
                </ul>
    	    </div>
    	    <!-- <div class="row">
 				 <div class="col-md-3"></div>
						<div class="col-md-6"><p>This is the administrative UI for my home network. It is currently just in its testing-phase.</p>

							<p>For online documentation and support please refer to.<br/>
							Commercial support is available at</p>
						</div>
 					 <div class="col-md-3"></div>
			</div>  //-->
            <div class="content">
            	<!-- <div class="col-md-3"></div>
						<div class="col-md-6"><p><b><h3>Logs go here!</h3></b></p>
						</div>
						<div id="separator" class="container"> !-->
					<!-- <h3><p>My First Bootstrap Page</p></h3>
					<p>This is some text.</p>
	
					<div class="row"> !-->
						<!-- <div class="col-sm-4" style="background-color: #FF9999"></div>
						<div class="col-sm-4" style="background-color: #99CCFF"></div>
						<div class="col-sm-4" style="background-color: #00CC99"></div> //-->
			
						<!--

						<div class="col-sm-3"></div>
						<div class="col-sm-2" style="background-color: #dc322f"></div>
						<div class="col-sm-2" style="background-color: #268bd2"></div>
						<div class="col-sm-2" style="background-color: #859900"></div>
						<div class="col-sm-3"></div>
			
					</div>
				</div>
 					 <div class="col-md-3"></div> !-->

 				<button type="button" class="btn btn-default">Refresh</button>

 				<button type="button" class="btn btn-default">Clear</button>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b id="logzhead">Logs</b></div>
                        <div class="panel-body">


                            <table class="table table-striped">

                            	
								    <!-- <thead>
								      <tr>
								        <th>Firstname</th>
								        <th>Lastname</th>
								        <th>Email</th>
								      </tr>
								    </thead> !-->
								    <tbody>
								      <tr>
								        <td><b>19/12/16 23:39:25</b></td>
								        <td><b><font color="#268bd2">Sonarr</font></b></td>
								        <td><b>RSS Sync Completed. Reports found: 1004, Reports grabbed: 0</b></td>
								      </tr>
								      <tr>
								        <td><b>19/12/16 22:35:18</b></td>
								        <td><b><font color="#268bd2">Sonarr</font></b></td>
								        <td><b>Rarbg  The request was aborted: Could not create SSL/TLS secure channel.</b></td>
								      </tr>
								      <tr>
								        <td><b>19/12/16 20:12:37</b></td>
								        <td><b><font color="#dc322f">CouchPotato</font></b></td>
								        <td><b>Processing 1004 releases</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 18:25:41</b></td>
								        <td><b><font color="#b58900">SABNZBD</font></b></td>
								        <td><b>Saving data for rss_data.sab</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 15:16:14</b></td>
								        <td><b><font color="#b58900">SABNZBD</font></b></td>
								        <td><b>Saving queue</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 13:44:31</b></td>
								        <td><b><font color="#859900">Plex</font></b></td>
								        <td><b>New Episode - Friends - 5x21 - The One With The Ball [Bluray-720p]</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 13:24:33</b></td>
								        <td><b><font color="#859900">Plex</font></b></td>
								        <td><b>New Episode - Friends - 5x20 - The One With The Ride Along [Bluray-720p]</b></td>
								      </tr>
								      <tr>
								        <td><b>19/12/16 23:39:25</b></td>
								        <td><b><font color="#268bd2">Sonarr</font></b></td>
								        <td><b>RSS Sync Completed. Reports found: 1004, Reports grabbed: 0</b></td>
								      </tr>
								      <tr>
								        <td><b>19/12/16 22:35:18</b></td>
								        <td><b><font color="#268bd2">Sonarr</font></b></td>
								        <td><b>Rarbg  The request was aborted: Could not create SSL/TLS secure channel.</b></td>
								      </tr>
								      <tr>
								        <td><b>19/12/16 20:12:37</b></td>
								        <td><b><font color="#dc322f">CouchPotato</font></b></td>
								        <td><b>Processing 1004 releases</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 18:25:41</b></td>
								        <td><b><font color="#b58900">SABNZBD</font></b></td>
								        <td><b>Saving data for rss_data.sab</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 15:16:14</b></td>
								        <td><b><font color="#b58900">SABNZBD</font></b></td>
								        <td><b>Saving queue</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 13:44:31</b></td>
								        <td><b><font color="#859900">Plex</font></b></td>
								        <td><b>New Episode - Friends - 5x21 - The One With The Ball [Bluray-720p]</b></td>
								      </tr>
								      <tr>
								        <td><b>18/12/16 13:24:33</b></td>
								        <td><b><font color="#859900">Plex</font></b></td>
								        <td><b>New Episode - Friends - 5x20 - The One With The Ride Along [Bluray-720p]</b></td>
								      </tr>

								      <!--
								      <tr>
								        <td class="col-md-1"><b>18/12/16 13:24:33</b></td>
								        <td id="systemz" class="col-md-1"><b><font color="#859900">Plex</font></b></td>
								        <td id="logz" class="col-md-1"><b>New Episode - Friends - 5x20 - The One With The Ride Along [Bluray-720p]</b></td>
								      </tr> !-->

								    </tbody>

								    

								  </table>



                        </div>
                    </div>
                </div>

            </div>
		</div>
	</div>
</div>



<!-- LINKS //-->

<b>

</b>

</content>
{% endblock %}