{% extends "admininterface/base.html" %}
{% block content %}

	<h2>OhGosh<font color="#d33682">Really</font></h2>

<!-- <h1>OhGoshReally</h1> //-->

<Content>

	<h1>Supercalafragalistic settings page.</h1>

	<h3>SabNZBD</h3>
	<form action="{% url 'settings' %}" method="post">
			{% csrf_token %}
			<table>
			{{ sabnzbdform }}
			<tr>
				<td>
					<input type="submit" value="Save" name="sabnzbd" />
				</td>
				<td>
					<input type="button" value="Reset"  />
				</td>
			</tr>
			</table>
	</form>

	<h3>Sonarr</h3>
	<form action="{% url 'settings' %}" method="post">
			{% csrf_token %}
			<table>
			{{ sonarrform.as_table }}
			<tr>
				<td>
					<input type="submit" value="Save" name="sonarr" />
				</td>
				<td>
					<input type="button" value="Reset"  />
				</td>
			</tr>
			</table>
	</form>

	<h3>CouchPotato</h3>
	<form action="{% url 'settings' %}" method="post">
			{% csrf_token %}
			<table>
			{{ couchpotatoform.as_table }}
			<tr>
				<td>
					<input type="submit" value="Save" name="couchpotato" />
				</td>
				<td>
					<input type="button" value="Reset"  />
				</td>
			</tr>
			</table>
	</form>

</content>


{% endblock %}
